.cta-inner {
	padding-left: 16px;
	padding-right: 16px;
    background-color: get-color(primary, 1);
    background: linear-gradient(to right top, get-color(primary, 1) 0, get-color(primary, 3) 100%);
}

@include media( '>medium' ) {

	.cta-inner {
		padding-left: 48px;
		padding-right: 48px;
	}
}

.cta ul {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: #DDE2F4;
}

.cta ul li {
	border-right: 3px solid #161822;
	padding: 0 .5rem;
}

.cta ul li p {
	margin-bottom: 0;
}

.cta ul li:nth-of-type(4) {
	border-right: none;
}

#contact .split-wrap .split-item {
	justify-content: space-around;
}

@media (max-width: 995px) {
	#contact .split-wrap .split-item {
		justify-content: space-evenly;
		width: 100%;
		flex-direction: column;
	}

	#contact .split-wrap .split-item .split-item-content {
		margin-right: 0;
	}
}